<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.OrmConverterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrmTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CacheBatchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CachePagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CacheListDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CacheNonListDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrmDeleteDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrmQueryDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrmUpdateDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrmInsertDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DataCacheActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>