<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dora">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ViewModelSample2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewModelSample1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NetDetectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FlowPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoadingDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlertDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TitleBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EventBusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProgressViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DataCacheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RsaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CrashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExtrasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuListActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="dora.lifecycle.config.TaskStackGlobalConfig"
            android:value="GlobalConfig" />
        <meta-data
            android:name="dora.lifecycle.config.ARouterGlobalConfig"
            android:value="GlobalConfig" />
        <meta-data
            android:name="dora.lifecycle.config.EventBusGlobalConfig"
            android:value="GlobalConfig" />
    </application>

</manifest>