<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.RadioGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BottomDialogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ToggleButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ToastActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoadingDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AlertDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TitleBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProgressViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="dora.lifecycle.config.TipsGlobalConfig"
            android:value="GlobalConfig" />
    </application>

</manifest>